/* Уровень 1 */
#pond {
  display: flex;
justify-content: flex-end;
}
/* Уровень 2 */
#pond {
  display: flex;
justify-content: center
}
/* Уровень 3 */
#pond {
  display: flex;
justify-content: space-around
}
/* Уровень 4 */
#pond {
  display: flex;
justify-content: space-between
}
/* Уровень 5 */
#pond {
  display: flex;
align-items: flex-end
}
/* Уровень 6 */
#pond {
  display: flex;
justify-content: center;
align-items: center
}
/* Уровень 7 */
#pond {
  display: flex;
justify-content: space-around;
align-items: flex-end
}
/* Уровень 8 */
#pond {
  display: flex;
flex-direction: row-reverse
}
/* Уровень 9 */
#pond {
  display: flex;
flex-direction: column
}
/* Уровень 10 */
#pond {
  display: flex;
flex-direction: row-reverse;
justify-content: flex-end
}
/* Уровень 11 */
#pond {
  display: flex;
justify-content: flex-end; 
flex-direction: column;
}
/* Уровень 12 */
#pond {
  display: flex;
flex-direction: column-reverse;
justify-content: space-between
}
/* Уровень 13 */
#pond {
  display: flex;
justify-content: center;
flex-direction: row-reverse;
align-items: flex-end
}
/* Уровень 14 */
#pond {
  display: flex;
}

.yellow {
order: 1
}
/* Уровень 15 */
#pond {
  display: flex;
}

.red {
order: -1
}
/* Уровень 16 */
#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
align-self: flex-end
}
/* Уровень 17 */
#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
order: 1;
align-self: flex-end
}
/* Уровень 18 */
#pond {
  display: flex;
flex-wrap:  wrap
}
/* Уровень 19 */
#pond {
  display: flex;
flex-direction: column;
flex-wrap: wrap
}
/* Уровень 20 */
#pond {
  display: flex;
flex-flow: columnu wrap
}
/* Уровень 21 */
#pond {
  display: flex;
  flex-wrap: wrap;
align-content: flex-start
}
/* Уровень 22 */
#pond {
  display: flex;
  flex-wrap: wrap;
 align-content: flex-end
}
/* Уровень 23 */
#pond {
  display: flex;
  flex-wrap: wrap;
flex-direction: column-reverse;
align-content: center
}
/* Уровень 24 */
#pond {
  display: flex;
flex-direction: column-reverse;
flex-wrap: wrap-reverse;
justify-content: center;
align-content: space-between;
}
